
{% extends 'core/base.html' %}
   {% block header %}
   
   <div class="container-fluid p-0 mt-5">

      <h1 class="fw-bold" style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%);">Cadastrar Categorias</h1>
   </div>

     
   
   {% endblock %}
{% block content %}

<div class="container-fluid p-0">


   
<div class="bg-primary d-flex justify-content-center align-items-center" style="height: 70vh;">
      <div class="bg-light p-5 rounded shadow" style="width: 700px;">

         <!-- Botão Voltar -->
         <div class="mb-4">
            <a href="/listar_categoria" class="btn btn-primary rounded-pill px-4">
               Voltar
            </a>
         </div>

         <!-- Formulário -->
         <form method="post">
            {% csrf_token %}

            <div class="mb-4 col-8">
               <label class="form-label fw-bold">NOME</label>
               <input type="text" name="nome" class="form-control" placeholder="Ex: Material de construção" required>
            </div>

            <!-- Botões -->
            <div class="text-end mt-4">
               <a class="btn btn-secondary rounded-pill px-4 me-2">
                  Cancelar
               </a>

               <button type="submit" class="btn btn-primary rounded-pill px-4">
                  Salvar
               </button>
            </div>

         </form>

      </div>


{% endblock %}