{% extends 'core/base.html' %}
    {% block header %}
    
    <h1 class="fw-bold" style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%);">Cadastrar Mercadoria</h1>
    
    {% endblock %}
{% block content %}

<div class="container-fluid p-0">

    <!-- Fundo Azul -->
     <div></div>
    <div class="bg-primary d-flex justify-content-center align-items-center" style="min-height: 70vh;">

        <!-- Card Central -->
        <div class="bg-light  rounded shadow" style="width: 90%; margin-top: 60px !important;
            padding-top: 50px;
             margin-bottom: 50px !important;">

            <!-- Botão Voltar -->
            <div class="mb-4">
                <a href="{% url 'listar_mercadoria' %}" class="btn btn-primary rounded-pill px-4">
                    Voltar

                </a>
            </div>

            <!-- Formulário -->
            <form method="post">
                {% csrf_token %}

                <div class="row">
                    <div class="col-md-6 mb-4">
                        <label class="form-label fw-bold">Categoria</label>
                        <select name="categoria" class="form-select">
                            {% for cat in categorias %}
                            <option value="{{ cat.id }}">{{ cat.nome }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label class="form-label fw-bold">Cliente</label>
                        <select name="pessoa" class="form-select">
                            {% for pessoa in pessoas %}
                            <option value="{{ pessoa.id }}">{{ pessoa.razao_social }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label class="form-label fw-bold">Mercadoria</label>
                        <input type="text" name="mercadoria" class="form-control"
                            placeholder="Ex: Tijolos, Areia, Cimento..." required>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label class="form-label fw-bold">Origem</label>
                        <input type="text" name="origem" class="form-control" placeholder="Ex: Santa Cruz do Sul - RS"
                            required>
                    </div>

                    <div class="col-md-6 mb-4">
                        <label class="form-label fw-bold">Saldo</label>
                        <input type="number" name="saldo" class="form-control" placeholder="Ex: 1000" required>
                    </div>
                </div>

                <!-- Botões -->
                <div class="text-end mt-4">
                    <a href="{% url 'listar_mercadoria' %}" class="btn btn-secondary rounded-pill px-4 me-2">
                        Cancelar
                    </a>

                    <button type="submit" class="btn btn-primary rounded-pill px-4">
                        Salvar
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}