{% extends 'core/base.html' %}

{% block content %}
<header>

</header>
<div style="position: relative; min-height: 100vh;">

  <h1 style="text-align: center;">Lista de Categorias</h1>
    <h2>Nome:</h2>
    <input type="text" name="nome" placeholder="Material de Construção" required>


    <!-- Botão Voltar -->
    <a href="{% url 'home' %}" 
       class="btn btn-secondary"
       style="position: absolute; top: 20px; left: 20px;">
        Voltar
    </a>

    <!-- Botão Nova cancelar -->
    <a href="{% url 'nova_categoria' %}" 
       class="btn btn-primary"
       style="position: absolute; bottom: 20px; right: 20px;">
       Cancelar
    </a>
{%endblock %}