{% extends 'core/base.html' %}
{% block header %}
<div class="container-fluid p-0 mt-5">

   <h1 class="fw-bold" style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%);">Editar Categoria
   </h1>
</div>

{% endblock %}
{% block content %}

<div class="container-fluid p-0">


   <!-- Fundo Azul -->
   <div class="bg-primary min-vh-100 d-flex justify-content-center align-items-center">

      <!-- Card central -->
      <div class="bg-light p-5 rounded shadow m-5" style="width: 700px;">

         <!-- Botão Voltar -->
         <div class="mb-4">
            <a href="{% url 'listar_categoria' %}" class="btn btn-primary rounded-pill px-4">
               Voltar
            </a>
         </div>


         <form method="post">
            {% csrf_token %}

            <div class="row">

               <div class="col-md-6 mb-4">
                  <label class="form-label fw-bold">Categoria</label>
                  {{ form.nome }}
               </div>
            </div>

            <div class="text-end mt-4">
               <a href="{% url 'listar_categoria' %}" class="btn btn-secondary rounded-pill px-4 me-2">
                  Cancelar
               </a>

               <button type="submit" class="btn btn-primary rounded-pill px-4">
                  Salvar
               </button>
            </div>

         </form>





      </div>
   </div>

</div>

{% endblock %}