{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid p-0">

    <!-- Header -->
    <div class="bg-light py-4 text-center position-relative">
        <div class="position-absolute top-0 start-0 p-3">
            <!-- <img src="{% static 'img/logo.png' %}" width="120"> -->
            <div class="fw-bold">M.K.M</div>
        </div>
        <h1 class="fw-bold">Cadastro de Pessoas</h1>
    </div>

    <!-- Fundo Azul -->
    <div class="bg-primary d-flex justify-content-center align-items-center" style="min-height: 70vh;">

        <!-- Card Central -->
        <div class="bg-light p-5 rounded shadow" style="width: 900px;">

            <!-- Botão Voltar -->
            <div class="mb-4">
                <a class="btn btn-primary rounded-pill px-4" href="{% url 'estoque' %}">
                    Voltar
                </a>
            </div>

            <!-- Formulário -->
            <form method="post">
                {% csrf_token %}
                <div class="row">
                
                    
                
                    <div class="col-md-6 mb-4">
                        <label class="form-label fw-bold">cpfCnpj</label>
                        {{ form.cpf_cnpj }}
                    </div>
                
                    <div class="col-md-6 mb-4">
                    <label class="form-label fw-bold">
                        Colaborador Cliente
                    </label>
                    {{ form.tipo_pessoa }}
                    </div>
                
                    <div class="col-md-6 mb-4">
                        <label class="form-label fw-bold">razaoSocial</label>
                        {{ form.razao_social }}
                    </div>
                    
                    <div class="col-md-6 mb-4">
                        <label class="form-label fw-bold">contato</label>
                        {{ form.contato }}
                    </div>
                    
                    <div class="col-md-6 mb-4">
                        <label class="form-label fw-bold">email</label>
                        {{ form.email }}
                    </div>
                </div>
                <!-- Botões -->
                <div class="text-end mt-4">
                    <a class="btn btn-secondary rounded-pill px-4 me-2" href="{% url 'listar_pessoa' %}">
                        Cancelar
                    </a>

                    <button type="submit" class="btn btn-primary rounded-pill px-4" >
                        Salvar
                    </button>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}