{%extends 'core/base.html'%}

{% block content %}
<header>
    
</header>
<div style="position: relative; min-height: 100vh;">

  <h1 style="text-align: center;">Lista de Categorias</h1>


    <!-- Botão Sair -->
    <a href="{% url 'home' %}" 
       class="btn btn-secondary"
       style="position: absolute; top: 20px; left: 20px;">
       Sair
    </a>

    <div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
">

    <h2>Cadastrar nova Mercadoria</h2>
    <h2>Inventário de saídas de mercadoria</h2>
    <h2>Lista de mercadoria</h2>

</div>


{%endblock %}