{% extends 'core/base.html' %}
{% block content %}

<div class="container-fluid p-0">

    <div class="bg-light py-4 text-center position-relative">
        <div class="position-absolute top-0 start-0 p-3">
            <div class="fw-bold">M.K.M</div>
        </div>
        <h1 class="fw-bold">Estoque</h1>
    </div>

    <div class="bg-primary d-flex justify-content-center align-items-center" style="height: 70vh;">
        <div class="bg-light p-5 rounded shadow text-center" style="width: 600px;">

            <div class="text-start mb-4">
                <a class="btn btn-primary px-4 rounded-pill">
                    Sair
                </a>
            </div>

            <div class="d-grid gap-3 col-8 mx-auto">

                <a href="{% url 'listar_mercadoria' %}" class="btn btn-primary rounded-pill">
                    Mercadorias
                </a>

                <a href="{% url 'listar_categoria' %}" class="btn btn-primary rounded-pill">
                    Categorias
                </a>

                <a href="{% url 'listar_pessoa' %}" class="btn btn-primary rounded-pill">
                    Pessoas
                </a>

            </div>

        </div>
    </div>

</div>

{% endblock %}