{% extends 'core/base.html' %}

<!DOCTYPE html>
{% block header %}
<div>

    <h1 class="fw-bold" style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%);">Estoque</h1>
</div>

{% endblock %}
{% block content %}

<div class="container-fluid p-0">



    <div class="bg-primary min-vh-100 d-flex justify-content-center align-items-center">
        <div class="bg-light p-5 rounded shadow text-center" style="width: 600px;">

            <div class="text-start mb-4">
                <a class="btn btn-primary px-4 rounded-pill">
                    Sair
                </a>
            </div>

            <div class="d-grid gap-3 col-8 mx-auto">

                <a href="{% url 'listar_mercadoria' %}" class="btn btn-primary rounded-pill">
                    Mercadorias
                </a>

                <a href="{% url 'listar_mercadoria_despachada' %}" class="btn btn-primary rounded-pill">
                    Mercadorias Despachadas
                </a>

                <a href="{% url 'listar_categoria' %}" class="btn btn-primary rounded-pill">
                    Categorias
                </a>

                <a href="{% url 'listar_pessoa' %}" class="btn btn-primary rounded-pill">
                    Pessoas
                </a>

            </div>

        </div>
    </div>

</div>

{% endblock %}