<header>
    
</header>

<div style="position: relative; min-height: 100vh;">

  <h1 style="text-align: center;">Lista de Categorias</h1>


    <!-- Botão Voltar -->
    <a href="{% url 'home' %}" 
       class="btn btn-secondary"
       style="position: absolute; top: 20px; left: 20px;">
        Voltar
    </a>

    <!-- Botão Nova Categoria -->
    <a href="{% url 'nova_categoria' %}" 
       class="btn btn-primary"
       style="position: absolute; bottom: 20px; right: 20px;">
        Nova Categoria
    </a>

</div>
