{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid p-0">

    <!-- Header -->
    <div class="bg-light py-4 text-center position-relative">
        <div class="position-absolute top-0 start-0 p-3">
            <!-- <img src="{% static 'img/logo.png' %}" width="120"> -->
            <div class="fw-bold">M.K.M</div>
        </div>
        <h1 class="fw-bold">Lista de Pessoas</h1>
    </div>

    <!-- Fundo Azul -->
    <div class="bg-primary d-flex justify-content-center align-items-center" style="min-height: 70vh;">

        <!-- Card Central -->
        <div class="bg-light p-5 rounded shadow" style="width: 1000px;">

            <!-- Botão Voltar -->
            <div class="mb-4">
                <a href="{% url 'estoque' %}" class="btn btn-primary rounded-pill px-4">
                    Voltar
                </a>
            </div>

            <!-- Tabela -->
            <div class="table-responsive">
                <table class="table table-borderless align-middle">
                    <thead>
                        <tr class="fw-bold">
                            <th>ID</th>
                            <th>CPF / CNPJ</th>
                            <th>Nome / Razão</th>
                            <th>Contato</th>
                            <th>Email</th>
                            <th>Função</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pessoa in pessoas %}
                        <tr>
                            <td>{{ pessoa.id }}</td>
                            <td>{{ pessoa.cpf_cnpj }}</td>
                            <td>{{ pessoa.razao_social }}</td>
                            <td>{{ pessoa.contato }}</td>
                            <td>{{ pessoa.email }}</td>

                            <!-- Tipo -->
                            <td>
                                {% if pessoa.tipo_pessoa == 'Cliente' %}
                                Cliente
                                {% else %}
                                Colaborador
                                {% endif %}
                            </td>

                            <!-- Ações -->
                            <td>
                                <a href="{% url 'editar_pessoa' pessoa.id %}"
                                    class="btn btn-warning btn-sm rounded-pill px-3 me-2">
                                    Editar
                                </a>

                                <!-- Formulario pra apresentar a confirmação de exclusão -->
                                <form method="post" action="{% url 'excluir_pessoa' pessoa.pk %}"
                                    style="display:inline;"
                                    onsubmit="return confirm('Tem certeza que deseja excluir esta pessoa?');">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger btn-sm rounded-pill px-3">
                                        Excluir
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">
                                Nenhuma pessoa cadastrada.
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </tbody>
                </table>
            </div>

            <div class="text-end mt-4">
                <a href="{% url 'criar_pessoa' %}" class="btn btn-primary rounded-pill px-4">
                    Cadastrar Pessoa
                </a>
            </div>

        </div>
    </div>

</div>

{% endblock %}