
{% extends 'core/base.html' %}
{% block header %}

<h1 class="fw-bold" style="position: absolute; top: 10px; left: 50%; transform: translateX(-50%);">Lista de Mercadorias</h1>

{% endblock %}
{% block content %}

<div class="container-fluid p-0">

    <!-- Header -->


    <!-- Fundo Azul -->
    <div class="bg-primary d-flex justify-content-center align-items-center" style="min-height: 70vh;">

        <!-- Card central -->
        <div class="bg-light p-5 rounded shadow" style="width: 95%;">

            <!-- Botão Voltar -->
            <div class="mb-4">
                <a href="{% url 'estoque' %}" class="btn btn-primary rounded-pill px-4">
                    Voltar
                </a>
            </div>

            <table class="table table-borderless align-middle">
                <thead>
                    <tr class="fw-bold">
                        <th>ID</th>
                        <th>Categoria</th>
                        <th>Cliente</th>
                        <th>Mercadoria</th>
                        <th>Entrada</th>
                        <th>Saldo</th>
                        <th>Origem</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mercadoria in mercadorias %}
                    <tr>
                        <td>{{ mercadoria.id }}</td>
                        <td>{{ mercadoria.categoria }}</td>
                        <td>{{ mercadoria.pessoa }}</td>
                        <td>{{ mercadoria.mercadoria }}</td>
                        <td>{{ mercadoria.data_entrada |date:"d/m/Y H:i" }}</td>
                        <td>{{ mercadoria.saldo }}</td>
                        <td>{{ mercadoria.origem }}</td>
                        <td>
                            <a href="{% url 'editar_mercadoria' mercadoria.id %}" style="margin: 6px;"
                                class="btn btn-warning btn-sm rounded-pill px-3 me-2">
                                Editar
                            </a>

                            <!-- Formulario pra apresentar a confirmação de exclusão -->
                            <form method="post" action="{% url 'excluir_mercadoria' mercadoria.pk %}"
                                style="display:inline;"
                                onsubmit="return confirm('Tem certeza que deseja excluir esta mercadoria?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger btn-sm rounded-pill px-3">
                                    Excluir
                                </button>
                            </form>

                            <a style="margin:6px;" class="btn btn-primary btn-sm rounded-pill">
                                Despachar
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="6" class="text-center">
                            Nenhuma mercadoria cadastrada.
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Botão Nova Mercadoria -->
            <div class="text-end mt-4">
                <a href="{% url 'criar_mercadoria' %}" class="btn btn-primary rounded-pill px-4">
                    Cadastrar Mercadoria
                </a>
            </div>

        </div>
    </div>

</div>

{% endblock %}