/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUNDO DA PÁGINA */
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-image: url('../imagens/imagem.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;


    min-height: 100vh;
    padding: 24px;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTAINER DO FORM */
form {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.85);
    padding: 40px 35px;
    border-radius: 12px;
    width: 320px;

    /* borda azul */
    border: 3px solid #1e88c8;

    /* sombra suave */
    box-shadow: 0 20px 45px rgba(0, 0, 0, 0.18);
}

/* TÍTULO */
h1 {
    position: center;
    top: 80px;
    color: white;
    font-size: 42px;
    font-weight: 700;

}

/* LABEL */
label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #333;

}

/* INPUTS */
input {
    width: 100%;
    padding: 12px 14px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 2px solid #dcdcdc;
    font-size: 16px;
    transition: 0.25s ease;
}

/* foco nos inputs */
input:focus {
    outline: none;
    border-color: #1e88c8;
    box-shadow: 0 0 0 3px rgba(30, 136, 200, 0.15);
}

/* BOTÃO */
form button {
    display: block;
    width: auto;
    padding: 14px 28px;
    border: none;
    border-radius: 10px;
    background: #1e88c8;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.25s ease;
    margin: 12px auto 0;
}

/* hover */
form button:hover {
    background: #166fa6;
    transform: translateY(-2px);
}